<div>
  <h2 id="page-heading" data-cy="OgrenciEgitimlerHeading">
    <span jhiTranslate="egitimyeseviApp.ogrenciEgitimler.home.title">Ogrenci Egitimlers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="egitimyeseviApp.ogrenciEgitimler.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ogrenci-egitimler"
        [routerLink]="['/ogrenci-egitimler/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="egitimyeseviApp.ogrenciEgitimler.home.createLabel"> Create a new Ogrenci Egitimler </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ogrenciEgitimlers?.length === 0">
    <span jhiTranslate="egitimyeseviApp.ogrenciEgitimler.home.notFound">No ogrenciEgitimlers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ogrenciEgitimlers && ogrenciEgitimlers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="egitim.egitimBaslik">
            <span jhiTranslate="egitimyeseviApp.ogrenciEgitimler.egitim">Egitim</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="kullanici.id">
            <span jhiTranslate="egitimyeseviApp.ogrenciEgitimler.kullanici">Kullanici</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ogrenciEgitimler of ogrenciEgitimlers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ogrenci-egitimler', ogrenciEgitimler.id, 'view']">{{ ogrenciEgitimler.id }}</a>
          </td>
          <td>
            <div *ngIf="ogrenciEgitimler.egitim">
              <a [routerLink]="['/egitim', ogrenciEgitimler.egitim?.id, 'view']">{{ ogrenciEgitimler.egitim?.egitimBaslik }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ogrenciEgitimler.kullanici">
              <a [routerLink]="['/application-user', ogrenciEgitimler.kullanici?.id, 'view']">{{ ogrenciEgitimler.kullanici?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ogrenci-egitimler', ogrenciEgitimler.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ogrenci-egitimler', ogrenciEgitimler.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ogrenciEgitimler)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ogrenciEgitimlers && ogrenciEgitimlers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
