<div>
  <h2 id="page-heading" data-cy="DersHeading">
    <span jhiTranslate="egitimyeseviApp.ders.home.title">Ders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="egitimyeseviApp.ders.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ders"
        [routerLink]="['/ders/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="egitimyeseviApp.ders.home.createLabel"> Create a new Ders </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ders?.length === 0">
    <span jhiTranslate="egitimyeseviApp.ders.home.notFound">No ders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ders && ders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="adi"><span jhiTranslate="egitimyeseviApp.ders.adi">Adi</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="aciklama">
            <span jhiTranslate="egitimyeseviApp.ders.aciklama">Aciklama</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dersLinki">
            <span jhiTranslate="egitimyeseviApp.ders.dersLinki">Ders Linki</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dersVideosu">
            <span jhiTranslate="egitimyeseviApp.ders.dersVideosu">Ders Videosu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="egitim.id">
            <span jhiTranslate="egitimyeseviApp.ders.egitim">Egitim</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ders of ders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ders', ders.id, 'view']">{{ ders.id }}</a>
          </td>
          <td>{{ ders.adi }}</td>
          <td>{{ ders.aciklama }}</td>
          <td>{{ ders.dersLinki }}</td>
          <td>
            <a *ngIf="ders.dersVideosu" (click)="openFile(ders.dersVideosu, ders.dersVideosuContentType)" jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="ders.dersVideosu">{{ ders.dersVideosuContentType }}, {{ byteSize(ders.dersVideosu) }}</span>
          </td>
          <td>
            <div *ngIf="ders.egitim">
              <a [routerLink]="['/egitim', ders.egitim?.id, 'view']">{{ ders.egitim?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ders', ders.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/ders', ders.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ders)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ders && ders.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
