<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="egitmen">
      <h2 data-cy="egitmenDetailsHeading"><span jhiTranslate="egitimyeseviApp.egitmen.detail.title">Egitmen</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="egitimyeseviApp.egitmen.id">Id</span></dt>
        <dd>
          <span>{{ egitmen.id }}</span>
        </dd>
        <dt><span jhiTranslate="egitimyeseviApp.egitmen.adiSoyadi">Adi Soyadi</span></dt>
        <dd>
          <span>{{ egitmen.adiSoyadi }}</span>
        </dd>
        <dt><span jhiTranslate="egitimyeseviApp.egitmen.unvani">Unvani</span></dt>
        <dd>
          <span>{{ egitmen.unvani }}</span>
        </dd>
        <dt><span jhiTranslate="egitimyeseviApp.egitmen.puani">Puani</span></dt>
        <dd>
          <span>{{ egitmen.puani }}</span>
        </dd>
        <dt><span jhiTranslate="egitimyeseviApp.egitmen.aktif">Aktif</span></dt>
        <dd>
          <span>{{ egitmen.aktif }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/egitmen', egitmen.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
