<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-egitmen-heading" data-cy="EgitmenCreateUpdateHeading" jhiTranslate="egitimyeseviApp.egitmen.home.createOrEditLabel">
        Create or edit a Egitmen
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="egitimyeseviApp.egitmen.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="egitimyeseviApp.egitmen.adiSoyadi" for="field_adiSoyadi">Adi Soyadi</label>
          <input type="text" class="form-control" name="adiSoyadi" id="field_adiSoyadi" data-cy="adiSoyadi" formControlName="adiSoyadi" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="egitimyeseviApp.egitmen.unvani" for="field_unvani">Unvani</label>
          <input type="text" class="form-control" name="unvani" id="field_unvani" data-cy="unvani" formControlName="unvani" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="egitimyeseviApp.egitmen.puani" for="field_puani">Puani</label>
          <input type="number" class="form-control" name="puani" id="field_puani" data-cy="puani" formControlName="puani" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="egitimyeseviApp.egitmen.aktif" for="field_aktif">Aktif</label>
          <input type="checkbox" class="form-check" name="aktif" id="field_aktif" data-cy="aktif" formControlName="aktif" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
