<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="egitimDersler">
      <h2 data-cy="egitimDerslerDetailsHeading"><span jhiTranslate="egitimyeseviApp.egitimDersler.detail.title">Egitim Dersler</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ egitimDersler.id }}</span>
        </dd>
        <dt><span jhiTranslate="egitimyeseviApp.egitimDersler.egitim">Egitim</span></dt>
        <dd>
          <div *ngIf="egitimDersler.egitim">
            <a [routerLink]="['/egitim', egitimDersler.egitim?.id, 'view']">{{ egitimDersler.egitim?.egitimBaslik }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="egitimyeseviApp.egitimDersler.kullanici">Kullanici</span></dt>
        <dd>
          <div *ngIf="egitimDersler.kullanici">
            <a [routerLink]="['/application-user', egitimDersler.kullanici?.id, 'view']">{{ egitimDersler.kullanici?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/egitim-dersler', egitimDersler.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
