<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="takvim">
      <h2 data-cy="takvimDetailsHeading"><span jhiTranslate="egitimyeseviApp.takvim.detail.title">Takvim</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ takvim.id }}</span>
        </dd>
        <dt><span jhiTranslate="egitimyeseviApp.takvim.adi">Adi</span></dt>
        <dd>
          <span>{{ takvim.adi }}</span>
        </dd>
        <dt><span jhiTranslate="egitimyeseviApp.takvim.egitim">Egitim</span></dt>
        <dd>
          <div *ngIf="takvim.egitim">
            <a [routerLink]="['/egitim', takvim.egitim?.id, 'view']">{{ takvim.egitim?.egitimBaslik }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/takvim', takvim.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
