<div>
  <h2 id="page-heading" data-cy="EgitimHeading">
    <span jhiTranslate="egitimyeseviApp.egitim.home.title">Egitims</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="egitimyeseviApp.egitim.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-egitim"
        [routerLink]="['/egitim/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="egitimyeseviApp.egitim.home.createLabel"> Create a new Egitim </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="egitims?.length === 0">
    <span jhiTranslate="egitimyeseviApp.egitim.home.notFound">No egitims found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="egitims && egitims.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="egitimyeseviApp.egitim.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="egitimBaslik">
            <span jhiTranslate="egitimyeseviApp.egitim.egitimBaslik">Egitim Baslik</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="egitimAltBaslik">
            <span jhiTranslate="egitimyeseviApp.egitim.egitimAltBaslik">Egitim Alt Baslik</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="egitimBaslamaTarihi">
            <span jhiTranslate="egitimyeseviApp.egitim.egitimBaslamaTarihi">Egitim Baslama Tarihi</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="egitimBitisTarihi">
            <span jhiTranslate="egitimyeseviApp.egitim.egitimBitisTarihi">Egitim Bitis Tarihi</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dersSayisi">
            <span jhiTranslate="egitimyeseviApp.egitim.dersSayisi">Ders Sayisi</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="egitimSuresi">
            <span jhiTranslate="egitimyeseviApp.egitim.egitimSuresi">Egitim Suresi</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="egitimYeri">
            <span jhiTranslate="egitimyeseviApp.egitim.egitimYeri">Egitim Yeri</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="egitimPuani">
            <span jhiTranslate="egitimyeseviApp.egitim.egitimPuani">Egitim Puani</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="aktif">
            <span jhiTranslate="egitimyeseviApp.egitim.aktif">Aktif</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="kurum.adi">
            <span jhiTranslate="egitimyeseviApp.egitim.kurum">Kurum</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="egitimTuru.adi">
            <span jhiTranslate="egitimyeseviApp.egitim.egitimTuru">Egitim Turu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="egitmen.adiSoyadi">
            <span jhiTranslate="egitimyeseviApp.egitim.egitmen">Egitmen</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="applicationUser.id">
            <span jhiTranslate="egitimyeseviApp.egitim.applicationUser">Application User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let egitim of egitims; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/egitim', egitim.id, 'view']">{{ egitim.id }}</a>
          </td>
          <td>{{ egitim.egitimBaslik }}</td>
          <td>{{ egitim.egitimAltBaslik }}</td>
          <td>{{ egitim.egitimBaslamaTarihi | formatMediumDate }}</td>
          <td>{{ egitim.egitimBitisTarihi | formatMediumDate }}</td>
          <td>{{ egitim.dersSayisi }}</td>
          <td>{{ egitim.egitimSuresi }}</td>
          <td>{{ egitim.egitimYeri }}</td>
          <td>{{ egitim.egitimPuani }}</td>
          <td>{{ egitim.aktif }}</td>
          <td>
            <div *ngIf="egitim.kurum">
              <a [routerLink]="['/kurum', egitim.kurum?.id, 'view']">{{ egitim.kurum?.adi }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="egitim.egitimTuru">
              <a [routerLink]="['/egitim-turu', egitim.egitimTuru?.id, 'view']">{{ egitim.egitimTuru?.adi }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="egitim.egitmen">
              <a [routerLink]="['/egitmen', egitim.egitmen?.id, 'view']">{{ egitim.egitmen?.adiSoyadi }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="egitim.applicationUser">
              <a [routerLink]="['/application-user', egitim.applicationUser?.id, 'view']">{{ egitim.applicationUser?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/egitim', egitim.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/egitim', egitim.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(egitim)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="egitims && egitims.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
